<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Payment Page</title>
  </head>
  <body>
    <center>
      <h1>Please do not refresh this page...</h1>
    </center>
    <form name="paytm" method="POST" action="https://securegw-stage.paytm.in/theia/api/v1/showPaymentPage?mid=<%= data.mid %>&orderId=<%= data.orderId %>">
      <table border="1">
        <tbody>
          <input
            type="hidden"
            name="mid"
            value="<%= data.mid %>"
          />
          <input type="hidden" name="orderId" value="<%= data.orderId %>" />
          <input
            type="hidden"
            name="txnToken"
            value="<%= data.txnToken %>"
          />
        </tbody>
      </table>
    </form>
    <script type="text/javascript">
      document.paytm.submit();
    </script>
  </body>
</html>
