<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show Payment Page</title>
    <meta content="text/html; charset=utf-8" />
  </head>
  <body>
    <center>
      <h1>Please do not refresh this page...</h1>
    </center>
    <form
      method="POST"
      action="https://securegw-stage.paytm.in/theia/api/v1/showPaymentPage?mid=<%= data.mid %>&orderId=<%= data.orderId %>
      name="paytm"
    >
      <table border="1">
        <tbody>
          <input
            type="hidden"
            name="mid"
            value="<%= data.mid %>"
          />
          <input type="hidden" name="orderId" value="<%= data.orderId %>" />
          <input
            type="hidden"
            name="txnToken"
            value="<%= data.txnToken %>"
          />
        </tbody>
      </table>
      <script type="text/javascript">
        document.paytm.submit();
      </script>
    </form>
  </body>
</html>
