<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    body {
      background-color: #e9e8e8;
      font-family: Nunito, sans-serif;
    }
    footer {
      position: fixed;
      bottom: 0;
      text-align: center;
      background: #212529;
      color: white;
      padding: 15px;
      width: 100%;
    }
    .footer a {
      text-decoration: none ;
      color: white;
    }
</style>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Paytm Node.js Demo App</a>
</nav>
<div class="my-5">
    <div style="width: 510px; margin: auto" class="card">
        <div class="card-body">
            <center>
                <h2>Payment Status</h2>
            </center>
            <div>
                <table class="table table-borderless">
                    <tr>
                        <th>Order ID: </th>
                        <td><%= data.ORDERID %></td>
                    <tr>
                    <tr>
                        <th>Transaction ID: </th>
                        <td><%= data.TXNID %></td>
                    <tr>
                        <th>Bank Transaction ID: </th>
                        <td><%= data.BANKTXNID %></td>
                    </tr>
                    <tr>
                        <th>Transaction Amount: </th>
                        <td><%= data.TXNAMOUNT %></td>
                    </tr>
                    <tr>
                        <th>Status: </th>
                        <td><%= data.STATUS %></td>
                    </tr>
                    <tr>
                        <th>Response Message: </th>
                        <td><%= data.RESPMSG %></td>
                    </tr>
                    <tr>
                        <th>Transaction Date: </th>
                        <td><%= data.TXNDATE %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer"">
<div>
    Made by 
    <a href="https://amljs.github.io" target="_blank">Amal Jose</a>
</div>
</footer>

<script>
    setTimeout(function(){
        window.location.href='https://navprayas-frontend.herokuapp.com/';
    }, 10000)
</script>